.modelmap {
    margin-top: 15px;
    margin-bottom: 50px;
}
.modelmap svg {
    width: 95%;
    height: 500px;
}

.modelmap svg g path:hover {
    fill: #ffffff !important;
    fill-opacity: .30 !important;
    stroke: hsl(var(--primary-hue) var(--primary-saturation) calc(calc(var(--primary-lightness) / 50) * 45) / var(--tw-text-opacity)) !important;
    stroke-width: 4 !important;
}

.modelinfo {
    border: 1px solid gray;
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
}
.modelinfo a {
    margin: 10px;
}
.modeltitle {
    text-align: left;
    font-size: 1.17em;
    font-weight: bold;
    margin: 10px;
}
.modelprogress {
    width: 100%;
}
  
#modelviewer_large {
    padding-top: 10px;
    height: 90vh;
    margin: 10px;
}

#modelviewer_large > canvas {
    border-radius: 10px;
    border: 1px solid gray;
}

.modelstats {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}

.hextra-footer {
    display: none;
}

.bomcost {
    white-space: nowrap;
}

.bomquantity {
    font-size: smaller;
}