---
---

@import "{{ site.theme }}";

@media screen and (min-width: 1080px) {
    .wrapper {
      max-width: 75%;
    }
    
    #header nav {
      max-width: 75%;
    }
    
    section {
      max-width: unset;
    }
  }

li > ul {
  margin-bottom: unset;
}

#header {
  display: none
}

.modelinfo {
  border: 1px solid gray;
  border-radius: 5px;
  display: inline-block;
  max-width: 20%;
  min-width: 256px;
  margin: 10px;
  padding: 5px;
}

.modelprogress {
  width: 100%;
}

#modelviewer {
  height: 95vh;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 10px;
}