<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="assets/js/modelviewer/stl_viewer.min.js"></script>
    {% include head-custom.html %}
  </head>
  <body>
    <div id="header">
      <nav>
        <ul>
          <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
          {% if site.show_downloads %}
            <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
            <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
            <li class="title">DOWNLOADS</li>
          {% endif %}
        </ul>
      </nav>
    </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

        <progress id="pbtotal" style="height: 5em;width: 90%;position: absolute;" value="0" max="1"></progress>
        <div style="height: 95vh;width: 1208 px;" id="modelviewer"></div>
        <script type="text/javascript">
          function load_prog(load_status, load_session) {
            var loaded=0;
            var total=0;
        
            //go over all models that are/were loaded
            Object.keys(load_status).forEach(function(model_id) {
              //need to make sure we're on the last loading session (not counting previous loaded models)
              if (load_status[model_id].load_session==load_session) {
                loaded+=load_status[model_id].loaded;
                total+=load_status[model_id].total;
              }
            });
        
            //set total progress bar
            document.getElementById("pbtotal").value=loaded/total;
          }
        
          function load_done() {
            document.getElementById("pbtotal").style.display = 'none';
          }
        
          const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
          });
          let model = params.model != null ? params.model : "Combined.stl";
        
          var setup = {
            loading_progress_callback: load_prog,
            all_loaded_callback: load_done,
            models: [
              { 
                id: 0,
                filename: '../../../models/' + model,
                color: '#d6d6d6',
                display: 'flat',
                rotationx: -1.5708,
              }
            ]
          };
        
        console.log(setup['models'][0]['filename']);
          var stl_viewer=new StlViewer(document.getElementById("stl_cont"), setup);
        </script>
        
        Wireframe: <input type="checkbox" onclick="stl_viewer.set_display(0, this.checked ? 'wireframe' : 'flat');" />
        Edges: <input type="checkbox" onclick="stl_viewer.set_edges(0, this.checked ? true : false);" />
        Autorotate: <input type="checkbox" onclick="stl_viewer.set_auto_rotate(this.checked ? true : false);" />
      </section>

    </div>
  </body>
</html>